@import "tailwindcss";


[contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: #b3b3b1;
    pointer-events: none;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: "Google Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .wrapper {
        @apply w-[90%] mx-auto
    }

    .panel {
        @apply bg-white p-4 w-full max-w-sm mx-auto overflow-y-auto no-scrollbar;
        @apply h-[85vh] md:max-h-125;
    }

    .input-error {
        @apply text-red-500 text-xs
    }

    .page-wrapper {
        @apply max-w-2xl mx-auto
    }

    .text {
        @apply text-sm leading-8 tracking-wider
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
    }
}




@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}