@import "tailwindcss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    .input-error {
        @apply text-red-500 text-xs
    }

    .wrapper {
        @apply w-[90%] mx-auto
    }
}