@import "tailwindcss";


[contenteditable][data-placeholder]:empty::before {

    content: attr(data-placeholder);
    color: #b3b3b1;
    pointer-events: none;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: "Geist", sans-serif;
        /* font-family: "Noto Serif", serif; */
        font-weight: 300;
        font-style: normal;
    }
}

@layer components {
    .wrapper {
        @apply w-[90%] mx-auto
    }

    .panel {
        @apply bg-white p-4 w-full max-w-sm mx-auto overflow-y-auto no-scrollbar;
        @apply h-[85vh] md:max-h-125;
    }

    .input-error {
        @apply text-red-500 text-xs
    }

    .page-wrapper {
        @apply max-w-2xl mx-auto
    }

    .text {
        @apply text-sm leading-8 tracking-wider
    }
}




@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}