@import "tailwindcss";


[contenteditable][data-placeholder]:empty::before {

    content: attr(data-placeholder);
    color: #b3b3b1;
    pointer-events: none;
}

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        /* font-family: "Radley", serif; */
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .wrapper {
        @apply w-[90%] mx-auto
    }

    .panel {
        @apply bg-white h-full max-h-125 p-4 w-full max-w-sm mx-auto overflow-scroll no-scrollbar
    }

    .input-error {
        @apply text-red-500 text-xs
    }
}



@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}